* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  z-index: 10;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin_cyrillic-regular.eot");
  src: url("../fonts/roboto-v27-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-regular.svg#Roboto") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v18-latin_cyrillic-regular.eot");
  src: url("../fonts/open-sans-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/open-sans-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/open-sans-v18-latin_cyrillic-regular.svg#OpenSans") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v18-latin_cyrillic-600.eot");
  src: url("../fonts/open-sans-v18-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-600.woff") format("woff"), url("../fonts/open-sans-v18-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/open-sans-v18-latin_cyrillic-600.svg#OpenSans") format("svg");
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 170px;
  padding: 40px;
  text-align: center;
}

.header__main-logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 170px;
  height: 170px;
  background-image: url("../img/woman.jpg");
  background-size: 100% 100%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.header__item {
  position: relative;
  font-size: 20px;
  letter-spacing: 4px;
}

.header__item::after {
  content: '';
  position: absolute;
  top: 120%;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: #000;
  background-repeat: no-repeat;
  border-radius: 4px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.header__item:hover::after {
  width: 73px;
}

.gallery {
  padding-bottom: 50px;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__item {
  position: relative;
  display: block;
  width: 33.3333%;
}

.gallery__item:hover .gallery__descr {
  display: block;
  opacity: 1;
}

.gallery__painting {
  width: 100%;
  height: 100%;
}

.gallery__descr {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 100px;
  background-color: #382fb3c9;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.gallery__text {
  position: relative;
  margin-top: auto;
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.gallery__text::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
}

.gallery__massage-btn {
  display: block;
  margin: 60px auto 0;
  min-width: 150px;
  min-height: 50px;
  color: #fff;
  font-size: 20px;
  background-color: #2bdb92;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.gallery__massage-btn:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
/*# sourceMappingURL=style.css.map */